<!-- REFERENCES:

Title: Bootstrap Navbar
URL: https://getbootstrap.com/docs/5.3/components/navbar/

Title: Bootstrap Modal
URL: https://getbootstrap.com/docs/5.3/components/modal/

Title: Bootstrap Buttons
URL: https://getbootstrap.com/docs/5.3/components/buttons/

Title: Bootstrap List Group
URL: https://getbootstrap.com/docs/5.3/components/list-group/

-->

{% load static %}

<!--CDNs for Bootstrap-->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous"
></script>

<!-- Navbar -->
<nav
  class="navbar navbar-expand-lg bg-body-tertiary"
  style="background-color: #c9deed"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="{% static 'login/images/New L&F Symbol.png' %}"
        alt="HoosLost&HoosFound Logo"
        width="80"
        height="80"
        class="d-inline-block align-text-top"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link custom-nav-link" href="{% url 'welcome' %}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link custom-nav-link" href="{% url 'upload_item' %}"
            >Upload an Item</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active custom-nav-link"
            aria-current="page"
            href="#"
            >My Uploads</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link custom-nav-link"
            href="{% url 'user_notifications' %}"
            >Notifications</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link custom-nav-link" href="{% url 'user_my_account' %}"
            >My Account</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% load static %}
    <title>My Uploads</title>
    <link rel="stylesheet" href="{% static 'login/style.css' %}" />
  </head>
  <body style="background: #232d4b; width: 100%; height: 100%">
    <div class="text-center">
      <h1 style="padding: 20px">My Uploads</h1>
      <div class="list-group-container">
        <div class="list-group">
          {% for item in user_uploads %}
          <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <div>
                <h5 class="mb-1" style="color: #232d4b">
                  <strong>Item:</strong> {{ item.name }}
                </h5>
              </div>
              <small class="text-body-secondary" style="color: #232d4b"
                >{{ item.date_uploaded }}</small
              >
            </div>

            <div class="mb-1" style="text-align: left">
              <strong>Description:</strong> {{ item.description }}
            </div>
            <div style="text-align: left">
              {% if item.item_image %}
              <img
                src="{{ item.image_url }}"
                alt="{{ item.name }}"
                class="img-fluid img-center img-resize"
              />
              {% endif %}
            </div>
            <p class="mb-1" style="color: #232d4b; padding: 20px">
              Location: {{ item.location }}
            </p>

            <button
              type="button"
              class="btn btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#deleteModal{{ item.id }}"
            >
              Delete
            </button>
          </div>

          <!-- Modal -->
          <div
            class="modal fade"
            id="deleteModal{{ item.id }}"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <form
                  id="delete-form-{{ item.id }}"
                  action="{% url 'user_delete_upload' item.id %}"
                  method="post"
                >
                  {% csrf_token %}
                  <div class="modal-header">
                    <h1
                      class="modal-title fs-5"
                      id="staticBackdropLabel"
                      style="color: black"
                    >
                      Confirm Item Deletion
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body" style="color: black">
                    You are about to permanently delete the item,
                    <strong style="color: #f84c1e">{{ item.name }}</strong>.
                    This action is irreversible. Please confirm your choice.
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Cancel
                    </button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
